@tailwind base;
@tailwind components;
@tailwind utilities;

/* Make sure any custom CSS comes after the Tailwind directives */

:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html.dark {
  background-color: #1a1a1a;
}

body {
  color: #333;
}

a {
  color: inherit;
  text-decoration: none;
} 